<div class="video-bg-area bg_blue">
  {% if section.settings.bg_video != blank %}
    <video autoplay muted loop playsinline>
      <source src="{{ section.settings.bg_video }}" type="video/mp4">
    </video>
  {% endif %}

  <section class="content-area">
    <div class="container">
      <div class="product-video-box">
        {% if section.settings.product_video != blank %}
          <video
            class="productvideo"
            {% if section.settings.mute_video %}
              muted
            {% endif %}
            {% if section.settings.loop %}
              loop
            {% endif %}
            playsinline
            width = "100%"
            height = "auto"
            preload="none"
            poster="{{ section.settings.poster | image_url: width: 1080, format: 'webp' }}"
          >
            <source src="{{ section.settings.product_video }}" type="video/mp4">
          </video>
        {% endif %}

        <a class="video-btn" href="javascript:;">
          <img
            src="https://cdn.shopify.com/s/files/1/0732/7829/2203/files/v-btn.webp"
            alt="Islandway Play button"
            width="60"
            height="60"
            loading="lazy"
            decoding="async"
          >
        </a>
      </div>
    </div>
  </section>
</div>

{% schema %}
{
  "name": "Video Section",
  "settings": [
    {
      "type": "url",
      "id": "bg_video",
      "label": "Background Video URL"
    },
    {
      "type": "url",
      "id": "product_video",
      "label": "Video URL"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Video Poster Image"
    },
    {
      "type": "checkbox",
      "id": "mute_video",
      "label": "Mute Video",
      "default":true
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Video in loop",
      "default":true
    }
  ],
  "presets": [{ "name": "Video Section" }]
}
{% endschema %}
