
@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("//islandway.com/cdn/fonts/ubuntu/ubuntu_n4.2c466c9d72970fbeeea5774a5658b256f03b28fd.woff2") format("woff2"),
       url("//islandway.com/cdn/fonts/ubuntu/ubuntu_n4.7d58d3bbaa6e4145f1df3f31b336b0f96f56885c.woff") format("woff");
}



  
  
  
  

 
:root {--bs-primary: #0d6efd;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary: #455a64;
  --bs-secondary-rgb: 69, 90, 100;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;

  --bs-container-max-width: 1350px;
  --bs-border-radius: 0.3rem;

  --bs-body-font-family: "system_ui", -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --bs-body-font-weight: 400;
  --bs-body-font-size: rem;
  --bs-headings-font-family: Ubuntu, sans-serif;
  --bs-headings-font-weight: 400;
  --bs-headings-text-transform: uppercase;

  --bs-dialog-backdrop-color-rgb: 33, 37, 41;
  --bs-dialog-backdrop-opacity: 50%;
  --bs-dialog-backdrop-blur: 5px;
  --bs-dialog-backdrop-blur: 5px;
  --bs-dialog-header-bg-color-rgb: var(--bs-secondary-rgb);
  --bs-dialog-header-bg-opacity: 5%;
  --bs-dialog-header-text-color: body-color;
  --bs-dialog-header-border-width: 1px;
  --bs-dialog-header-border-color-rgb: var(--bs-secondary-rgb);
  --bs-dialog-header-border-opacity: 10%;
  --bs-dialog-header-title-font-size: 1.3em;

  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-body-color-rgb), 0.075);
  --bs-box-shadow-md: 0 0.25rem 0.5rem rgba(var(--bs-body-color-rgb), 0.125);
  --bs-box-shadow-lg: 0 .5rem 1rem rgba(var(--bs-body-color-rgb), 0.175);
  --bs-focus-box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .125);
  --bs-box-shadow: var(--bs-box-shadow-md);
}.btn {
  --bs-btn-font-size: 1rem;
  --bs-btn-text-transform: none;
  --bs-btn-font-family-new: var(--bs-body-font-family);
  --bs-btn-font-weight: 500;
  --bs-btn-letter-spacing: 0.05rem;
  --bs-btn-bg-gradient: var(--bs-gradient);
  --bs-btn-padding-x: 1rem;
  --bs-btn-padding-y: 0.3rem;
}.form-check-input:checked[type=radio] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffffff'/%3e%3c/svg%3e");
}
