<div class="container text-center collection-header">
  <h1 class="mb-4 text-black">
    {{ 'general.404_page.title' | t }}
  </h1>
  <p class="lead mb-7 text-black">
    {{ 'general.404_page.subtext' | t }}
  </p>
  <div class="product-action text-center">
  <a href="{{ routes.root_url }}"  class="cta-btn btn_blue">
     {{ 'general.404_page.button' | t }}
  </a>
  </div>
</div>
